/* --------- Grid Positioning --------- */
.articlePageGrid {
    display: grid;
    /*12 rows with a 2 row gap to seperate aside*/
    grid-template-columns: repeat(14, 1fr);
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}
.gridSection {
    grid-area: 1 / 1 / 2 / 11;
}
.gridAside {
    grid-area: 1 / 12 / 2 / 15;
}



/* --------- Article Styling --------- */
.articleMainContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

/*style link*/
a.creditLink {
    text-decoration: none;
    color: purple;
}
/*
.articleMainContainer > a:hover {
    color: orange;
}
*/
.creditLink > h2 {
    font-size: 15px;
}

/*Position Text and Image*/
.textAndImageContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: start;
}
.textContainer {
    width: 55%;
}
/*style and position img*/
.imageContainer {
    width: 35%;
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    /*image starts slightly below text*/
    margin-top: 20px; 
}
.imageContainer > img {
    width: 100%;  
    object-fit: contain;
    overflow: hidden;
}